/* MOBILE */

html {
   margin-top: 0;
   height: 100vh;
   font-family: 'Roboto', sans-serif;
   background-image: url(images/fond.jpg);
   background-attachment: fixed;
   background-size: cover;
}

body {
   min-height: 100vh;
   width: 100%;
}

:root {
   --Primary: #FEF7E7;
   --Secondary: rgba(111, 28, 54, 0.5);
}

#logo {
   display: none;
}

/* HEADER */

/* BARRE DE NAVIGATION */

#topbar {
   height: 80px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background: var(--Secondary);
   border-bottom: 1px solid black;
}

#topbar div, #topbar ul {
   display: flex;
   align-items: center;
}

#topbar div {
   width: 100%;
   background: var(--Primary);
}

#topbar a {
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 20px;
   color: var(--Primary);
   text-decoration: none;
}

#topbar a:hover {
   color: black;
   transition: 0.3s;
}

#topbar div a:first-child {
   margin: 0 auto;
   color: black;
   transition: 0.3s;
}

#topbar div a:first-child:hover {
   color: var(--Secondary)
}

#topbar img {
   width: 40px;
   height: 40px;
   padding-right: 10px;
}

/* CAROUSEL */

#carousel {
   display: none;
}

/* MAIN */

main {
   min-height: calc(100vh - 80px - 100px);
   background: var(--Primary);
}

br {
   display: block;
   content: "";
   margin-top: 10px;
}

/* MAIN INDEX */

#main-index {
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-end;
}

/* CONTENU */

#main-index section {
   height: auto;
   padding: 20px 20px;
   width: 100%;
   font-size: 12px;
}

.grid-container {
   display: grid;
   grid-template-columns: 300px;
   grid-template-rows: 300px 300px 300px 300px 300px 300px;
   grid-template-areas: "article1" "article2" "article3" "article4" "article5" "article6";
   justify-content: center;
}

.article1 {
   grid-area: article1;
}

.article2 {
   grid-area: article2;
}

.article3 {
   grid-area: article3;
}

.article4 {
   grid-area: article4;
}

.article5 {
   grid-area: article5;
}

.article6 {
   grid-area: article6;
}

.grid-style {
   background-color: white;
   margin: 20px;
   border-radius: 10px;
}

#main-index section h3 {
   font-size: 1.4em;
   padding-top: 5px;
   padding-bottom: 10px;
   text-align: center;
}

#main-index section img {
   width: 100%;
   height: 200px;
   padding-bottom: 5px;
}

#main-index section p {
   padding-left: 5px;
}

/* ASIDE */

#main-index aside {
   height: auto;
   width: 100%;
   padding: 20px 20px;
   border-bottom: 1px solid black;
   display: flex;
   flex-wrap: wrap;
   justify-content: center
}

.aside-container hr {
   margin: 2.5vh 0;
}

.aside-title {
   display: flex;
   width: 90vw;
   height: 3vh;
   font-size: 12px;
   font-style: italic;
   color: var(--Primary);
   background-color: var(--Secondary);
   margin: 5px;
   padding: 10px 0;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   box-shadow: 50px 50px 20% black;
}

.aside-content {
   font-size: 12px;
   padding: 5px;
}

.actu {
   padding-left: 10px;
   background: linear-gradient( to right, var(--Secondary), var(--Primary));
}

.rdv {
   margin-left: auto;
   padding-right: 10px;
   align-items: flex-end;
   background: linear-gradient( to right, var(--Primary), var(--Secondary));
}

.actu-content {
   flex-direction: column;
}

.rdv-content {
   text-align: right;
}

.no-mobile {
   display: none;
}

/* MAIN PRESENTATION */

#main-presentation article {
   text-align: center;
}

#main-presentation img {
   width: 80%;
   height: auto;
   margin: 20px auto;
   border: 1px solid black;
   border-radius: 10px;
}

#main-presentation h2 {
   text-align: center;
   padding: 20px;
}

#main-presentation p, ol {
   padding: 20px 20px;
   text-align: left;
}

ol {
   list-style-type: initial;
}

ol li {
   padding-bottom: 5px;
}

#main-presentation hr {
   margin-right: 0;
   width: 97%;
   border: none;
   border-top: 3px double rgb(0, 0, 0);
}

/* MAIN GALLERY */

.gallery {
   display: flex;
   align-content: space-around;
   justify-content: center;
   width: 75%;
   flex-wrap: wrap;
   padding-top: 10vh;
   height: 70vh;
   margin: 0 auto;
}

.gal_img {
   width: auto;
   height: 6vh;
   margin: 2px;
   background-color: #88888888;
}

.gallery h3 {
   font-size: initial;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
}

.gimpF {
   height: 50%;
}

.gallery article {
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   font-size: 12px;
   margin-top: 10px;
   width: 80vw;
}

/* MAIN CONTACT */

#main-contact section {
   display: flex;
   flex-direction: column;
}

#main-contact section div {
   width: 100%;
   height: 300px;
   border-bottom: 1px solid black;
}

#main-contact h2 {
   text-align: center;
   margin-top: 30px;
   font-size: 1.6em;
}

#main-contact section div p {
   display: flex;
   justify-content: space-evenly;
   margin-top: 30px;
}

input, textarea, select {
   display: flex;
   flex-direction: column;
   margin: 5px auto;
   width: 90%;
   height: 20px;
}

textarea {
   height: 50px;
}

.send {
   width: 55px;
}

iframe {
   width: 99.9%;
   height: 100%;
}

/* FOOTER */

footer {
   height: 100px;
   width: 100%;
   background-color: var(--Secondary);
   border-top: 1px solid black;
}

footer a {
   font-size: 0.9em;
   color: var(--Primary);
}

footer img {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   height: 25px;
   width: 25px;
   padding-bottom: 5px;
   margin: 5px auto;
}

.footer-container {
   display: flex;
}

.footer-container div {
   text-align: center;
}

.footer-left, .footer-middle {
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.footer-left {
   width: 40%;
}

.footer-middle {
   width: 45%;
}

.footer-right {
   display: flex;
   flex-direction: column;
   width: 20%;
   height: 100px;
}

.footer-bottom {
   display: none;
}

@media only screen and (min-width:600px) {
   /* MAIN CONTENU */
   .grid-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 300px 300px 300px;
      grid-template-areas: "article1 article2" "article3 article4" "article5 article6";
   }
}

@media only screen and (min-width:731px) {
   /* BARRE DE NAVIGATION */
   #topbar {
      background: linear-gradient(90deg, var(--Primary) 0%, var(--Primary) 45%, var(--Secondary) 45%, var(--Secondary) 100%);
      border-right: 1px solid black;
   }
   #topbar div {
      width: 45%;
   }
   #topbar img {
      width: 70px;
      height: 70px;
      transition: 0.5s;
   }
   #topbar a:hover img {
      transform: rotate(90deg) translateX(5px);
   }
   #topbar ul {
      width: 55%;
      justify-content: space-between;
   }
   #topbar li:last-child {
      padding-right: 30px;
   }
   #topbar ul::before {
      content: '';
      display: inline-block;
      border-right: solid 40px transparent;
      border-bottom: solid 80px var(--Primary);
   }
   /* CAROUSEL */
   #carousel {
      display: block;
      max-width: 1024px;
      height: 250px;
      position: relative;
      margin: auto;
   }
   .slide {
      display: none;
   }
   .slide img {
      width: 100%;
      height: 250px;
      border-right: 1px solid black;
   }
   .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      color: var(--Primary);
      background-color: var(--Secondary);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
   }
   .next {
      right: 0;
      border-radius: 3px 0 0 3px;
   }
   .prev:hover, .next:hover {
      background-color: var(--Primary);
      color: var(--Secondary)
   }
   .caption {
      color: var(--Primary);
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.30);
      border-bottom: 1px solid black;
   }
   .active {
      background-color: var(--Primary);
   }
   .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
   }
   @-webkit-keyframes fade {
      from {
         opacity: .4
      }
      to {
         opacity: 1
      }
   }
   @keyframes fade {
      from {
         opacity: .4
      }
      to {
         opacity: 1
      }
   }
   /* MAIN */
   main {
      border-right: solid 1px black;
   }
   /* MAIN INDEX */
   #main-index {
      flex-direction: row;
   }
   #main-index section {
      width: 70%;
      height: auto;
   }
   /* MAIN ASIDE */
   #main-index aside {
      width: 30%;
      height: auto;
      border-left: solid 1px black;
      border-bottom: 0;
   }
   .aside-container hr {
      display: none;
   }
   .aside-title {
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      width: auto;
      padding: 0;
      margin: 10 auto;
      background: var(--Secondary);
   }
   .aside_content {
      border: unset;
   }
   .actu-content, .rdv-content {
      margin-bottom: 5vh;
   }
   .aside_content a {
      margin: auto;
   }
   .no-mobile {
      display: block;
   }
   /* MAIN PRESENTATION */
   #main-presentation article {
      display: flex;
      align-items: center;
      margin: 0 20px;
   }
   #main-presentation article:nth-of-type(2n) {
      flex-direction: row-reverse;
   }
   #main-presentation img {
      height: auto;
      width: 30%;
      margin: 20px;
   }
   #main-presentation h2 {
      font-weight: 900;
      font-size: 1.3em;
   }
   /* MAIN GALLERY */
   .gal_img {
      height: 68px;
   }
   .gimpF {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      height: auto;
      width: 55vw;
      /* justify-items: baseline; */
   }
   .gallery {
      flex-direction: row;
      justify-content: center;
   }
   /* MAIN CONTACT */
   #main-contact section {
      display: flex;
      flex-direction: row;
      height: 300px;
   }
   #main-contact section div h2 {
      margin-top: 50px;
   }
   input, textarea, select {
      display: flex;
      flex-direction: column;
      margin: 25px auto;
      width: 70%;
      height: 20px;
   }
   textarea {
      height: 60px;
   }
   iframe {
      border-left: 1px solid black;
   }
   /* FOOTER */
   footer {
      border-right: 1px solid black;
      justify-content: space-evenly;
   }
   footer a {
      display: flex;
      flex-direction: row;
      padding: 0px;
      height: 20px;
   }
   .footer-container {
      padding-top: 15px;
      padding-bottom: 10px;
   }
   .footer-left, .footer-middle, .footer-right {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 30px;
   }
   .footer-middle {
      width: 330px;
   }
   footer img {
      flex-direction: row;
      margin: 0px;
   }
   .footer-bottom {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 0.9em;
   }
}

/* DESKTOP */

@media only screen and (min-width:1024px) {
   body {
      width: 1024px;
      margin: 0 auto;
      box-shadow: 10px 10px 50px 5px rgba(90, 90, 90, 0.60), -10px -10px 50px 5px rgba(90, 90, 90, 0.6);
   }
   footer a {
      display: flex;
      flex-direction: row;
      padding: 0px;
   }
}

@media only screen and (min-width:1250px) {
   #logo {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
   }
   #logo img {
      width: 60px;
      height: 100%;
   }
}